#!/usr/bin/python

import boto3
from botocore.exceptions import ClientError

from cloud_droid.aws_smoker import AwsSmoker


class {{smoker_class_name}}(AwsSmoker):

    def simulate(self):
        # Implement your function here
        pass

